.api-js{
    font-size: 14px;
}

/* clear box -- position right */
.test03{
    float: right;
}
.middle{
    text-align: center;
}
.top-shadow{
    box-shadow: 0px 3px 5px #2f3
}
.coding-shadow{
    box-shadow: 0px 3px 5px #aaa
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.top.bottom-position{
    padding-bottom: 50px;
}
.chainimg{
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 1px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid yellow;
    border-radius: 50%;
    overflow: hidden;
}

/*high*/
.litter-box {
    content: "";
    padding: 8px 5px;
    /*background-color: #F6F8FA*/
}
.coding-box{
    padding-left: 30px;
    background-color: #ddd;
    font-size: 12px;
}
.table-box{
    float: right;

}
.fw{
    font-weight: bold;
}
.clock{
    display: inline;
    overflow: hidden;
}


/* button get resource */
.btn-box{
    padding: 8px 5px;
}



/************ header **************/
.header{
    margin: -30px -50px;
    padding: 30px 50px;
}



/************* footer *************/
.footer{
    border-top: 1px solid #ccc
}




