<html>  
<head>  
    <meta charset='utf-8'>
    <title>REO.JS</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="./../assets/hook.css">
</head>  
<body>

</body>
 <script src="./../lib/handlereomethods/validMethod.js"></script>
 <script>


 </script>
</html>
